label{
    font-weight: 600;
    margin: 0;
}
small{
    margin-bottom: 10px;
}
input{
    width: 100%;
    padding: 7px;
    border: 1px solid #ddd;
}
textarea{
    border: 1px solid #ddd;
    width: 100%;
}
 
button{
    margin-top: 20px;
}